/*button {
    padding: 4px;
    color: #fff;
    line-height: 12px;
    font-size: 22px;
    background: #03A9F4;
    border: none;
    width: 20px;
    box-shadow: none;
    border-radius: 2px;
}

button:focus{
    outline: 0;
    box-shadow: 0 0 2px #222;
}*/